/* Archivo central que importa el resto de estilos
   de esta forma, en HTML solo usa styles.css */

@import url("base.css");
@import url("layout.css");
@import url("home_products.css");
@import url("cart_account.css");
@import url("forms.css");
@import url("footer.css");
@import url("profile.css");
@import url("mensajes.css");