{% extends "base.html" %}
{% load static %}

{% block title %}Home - Lazzo{% endblock %}

{% block content %}

    <!-- Banner principal -->
    <section class="hero">
        <div class="container hero-content">
            <div class="hero-text">
                <h1>Ofertas Destacadas</h1>
                <p>
                    Encuentra tu match perfecto <br>
                    ¡Estos productos están seleccionados para ti! ➜
                </p>
                <button class="btn-primary">Ver ofertas</button>
            </div>

            <div class="hero-image">
                <img src="{% static 'img/Banner.png' %}" alt="banner principal">
            </div>
        </div>
    </section>

    <!-- Tira de promociones -->
    <section class="promo-strip">
        <div class="container promo-content">
            <div class="promo-item">
                <h3>Despacho a domicilio</h3>
                <p>Recibe tus compras en la puerta de tu casa.</p>
            </div>
            <div class="promo-item">
                <h3>Retiro en tienda</h3>
                <p>Compra online y retira sin filas.</p>
            </div>
            <div class="promo-item">
                <h3>Ofertas exclusivas</h3>
                <p>Descuentos especiales pagando con tarjeta.</p>
            </div>
        </div>
    </section>

        <!-- Productos destacados -->
    {% include "destacados.html" %}

    <!-- Categorías destacadas -->
    <section class="categories-section">
        <div class="container">
            <div class="section-header">
                <h2>Categorías destacadas</h2>
            </div>

            {% if categorias_destacadas %}
                <div class="categories-grid">
                    {% for cat in categorias_destacadas %}
                        <a href="{% url 'categoria_listado' cat.tipo cat.slug %}" class="category-card">
                            <span>{{ cat.label }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No hay categorías disponibles.</p>
            {% endif %}
        </div>
    </section>


{% endblock %}
